<div class="cardGroup">
  <div class="card ">
    <div class="cardGroupBody">
      <div class="courses">
        <i class="icon"> </i>
      </div>
      <div class="countText">11</div>
    </div>
  </div>
  <div class="card">
    <div class="cardGroupBody">
      <div class="assesments">
        <i class="icon"> </i>
      </div>
      <div class="countText">60</div>
    </div>
  </div>
  <div class="card">
    <div class="cardGroupBody">
      <div class="collections">
        <i class="icon"> </i>
      </div>
      <div class="countText">85</div>
    </div>
  </div>
</div>
<div class="cardGroup">
  <div class="card">
    <div class="cardGroupBody">
      <div class="resources">
        <i class="icon"> </i>
      </div>
      <div class="countText">67</div>
    </div>
  </div>
  <div class="card">
    <div class="cardGroupBody">
      <div class="questions">
        <i class="icon"> </i>
      </div>
      <div class="countText">90</div>
    </div>
  </div>
  <div class="card">
    <div class="cardGroupBody">
      <div class="rubrics">
        <i class="icon"> </i>
      </div>
      <div class="countText">20</div>
    </div>
  </div>
</div>
