{{#each prerequisitesData as | groupData|}}
  <div class="col-md-12 total">
    <div class="left-node col-md-4">
      <div class="standard-tags">
        <span> 4-ab-s </span>
      </div>
    </div>

    <div class="border col-md-2">

    </div>

    <div class="right-node col-md-6">
      <span> here some watch the request the available going to create iot sample projects request </span>
    </div>
  </div>
{{/each}}
