{{#if visibleBoxView}}
  <div class="section-title"> {{t 'common.globalStatistics'}}</div>
  <div class="active-districts">
    <div class="districs">
      <span class="num-of-count"> 92k</span>
      <span class="standards">ela learners </span>
    </div>
    <div class="active-users">
      <div class="text"><span>45k Active Users </span> </div>
    </div>
  </div>


  <div class="active-districts">
    <div class="districs">
      <span class="num-of-count"> 1.17m</span>
      <span class="standards">social science learner </span>
    </div>
    <div class="active-users">
      <div class="text"><span>55k Active Users  </span> </div>
    </div>
  </div>

  <div class="active-districts">
    <div class="districs">
      <span class="num-of-count"> 11k</span>
      <span class="standards"> science learner</span>
    </div>
    <div class="active-users">
      <div class="text"><span>35k Active Users  </span> </div>
    </div>
  </div>

  <div class="active-districts">
    <div class="districs">
      <span class="num-of-count">10k </span>
      <span class="standards">psychologycal learner </span>
    </div>
    <div class="active-users">
      <div class="text"> <span> 7k Active Users </span> </div>
    </div>
  </div>

  <div class="active-districts">
    <div class="districs">
      <span class="num-of-count">10k </span>
      <span class="standards"> english learner</span>
    </div>
    <div class="active-users">
      <div class="text"><span> 1.1m Active Users </span> </div>
    </div>
  </div>

  <div class="active-districts">
    <div class="districs">
      <span class="num-of-count"> 15k</span>
      <span class="standards"> active users</span>
    </div>
    <div class="active-users">
      <div class="text" {{action "viewTable"}}> <span>80k Active Users  </span></div>
    </div>
  </div>

{{/if}}


{{#if visibleTableView}}
  <div class="table-view">

    <div class="container">
      <div class="header"><i {{action "viewBox"}} class="fa fa-long-arrow-left fa-2x"> Back</i> <span class="test"> </span> </div>
      <table class="table">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{{/if}}
