<h6> {{t "common.signatureAssessment" }} </h6>
{{#each signatureContents.assessments as | item | }}
<div class="signature">
  <div class="image">
    <div class="img-container">
      <img class="img-responsive" src="{{item.thumbnail}}">
    </div>
  </div>
  <span class="assessment-name"> {{item.title}}</span>
</div>
{{/each}}
