<h6> {{t "common.signatureCollection" }} </h6>
<div class="signature">
  <div class="image">
    <div class="img-container">
      <img class="img-responsive" src="//dev-content-gooru-org.s3-us-west-1.amazonaws.com/72f87029-7d19-4cac-8b42-6bb1cb806d45.jpeg">
    </div>
  </div>
  <span class="collection-name"> test assessment data options</span>
</div>
