<h6> {{t "common.signatureCollection" }} </h6>
{{#each signatureContents.collections as | item |}}
  <div class="signature">
    <div class="image">
      <div class="img-container">
        <img class="img-responsive" src="{{item.thumbnail}}">
      </div>
    </div>
    <span class="collection-name"> {{item.title}}</span>
  </div>
{{/each}}
