.activities {
  height: calc(100vh - 110px);
  width: 1024px;
  margin: 0 auto;

  .app-pull-out {
    top: 110px;
    height: calc(100vh - 110px);
    .pull-out-more-content-container {
      display: table;

      .coming-next {
        color: $gray;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .filters {
    width: 300px;
    height: 500px;
  }

  .activities-summary {
    width: calc(100% - 300px);
    .content-distribution {
      width: 600px;
      margin: 0 auto;
    }
  }
}
