.activities {
  height: calc(100vh - 110px);
  width: 1024px;
  margin: 0 auto;

  .app-pull-out {
    top: 110px;
    height: calc(100vh - 110px);

    .pull-out-more-content-container {
      display: table;

      .coming-next {
        color: $gray;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .filters {
    width: 240px;
    height: 500px;
  }

  .activities-summary {
    width: calc(100% - 240px);

    .content-distribution {
      width: 100%;
      height: 370px;
    }

    .content-distribution-header {
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
      border-bottom: 1px dashed #35424b;
      color: $dark-800;
      padding-bottom: 5px;
      margin-left: 40px;
    }
  }
}
