.gcm {
  height: calc(100vh - 110px);

  .app-pull-out {
    top: 110px;
    height: calc(100vh - 110px);
  }

  .gcm-header {
    width: 100%;
    height: 45px;
    background: $blue-400;
    display: table;
    .title {
      color: $white;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
    }
  }
}
// Added this styles for quick fix!
.app-container > h3 {
  color: $gray;
  text-align: center;
  line-height: 50vh;
}

.coming-next {
  color: $gray;
  text-align: center;
  margin-top: 30vh;
}
