.learning-map.competency-table {
  height: 100vh;
  .table-responsive {
    width: 95%;
    margin: auto;
    .competency-data-level {
      display: block;
      background: url("images/crosswalk-subject.png");
      height: 59px;
      background-size: contain;
      object-fit: cover;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      color: $white;
      text-transform: uppercase;
      line-height: 59px;
      display: flex;
    }

    .thead {
      display: flex;
      width: 94%;
      height: 44px;
      line-height: 44px;
      color: $dark-400;
      font-weight: bold;
      margin: auto;
      border-bottom: 2px solid #979797;
      .th {
        padding-left: 15px;
        i {
          float: right;
          line-height: 2.2;
          margin-right: 15px;
          cursor: pointer;
        }
      }

      %content-icon-size {
        width: 32.5px;
        height: 25px;
        object-fit: contain;
        display: block;
      }
      .course {
        i {
          background: url("images/course-icon.svg");
          @extend %content-icon-size;
        }
      }

      .assessment {
        i {
          background: url("images/assessment-icon.svg");
          @extend %content-icon-size;
        }
      }

      .lesson {
        i {
          background: url("images/lesson-icon.svg");
          @extend %content-icon-size;
        }
      }

      .unit {
        i {
          background: url("images/unit-icon.svg");
          @extend %content-icon-size;
        }
      }

      .collection {
        i {
          background: url("images/collection-icon.svg");
          @extend %content-icon-size;
        }
      }

      .resource {
        i {
          background: url("images/resource-icon.svg");
          @extend %content-icon-size;
        }
      }

      .question {
        i {
          background: url("images/question-icon.svg");
          @extend %content-icon-size;
        }
      }

      .rubric {
        i {
          background: url("images/rubric-icon.svg");
          @extend %content-icon-size;
        }
      }
    }

    .table-structure {
      height: 80vh;
      overflow: auto;
      .table {
        .tbody {
          .competency-info {
            display: flex;
            font-size: 12px;
            color: $dark-400;
            .competency-id {
              min-width: 160px;
              font-weight: bold;
            }
          }
          .content-info {
            width: 50px;
            text-align: center;
            color: $dark-400;
            font-size: 15px;
            vertical-align: middle;
          }
          .prerequisites-info {
            width: 195px;
            border-left: 2px solid gray;
          }
        }
      }
    }
  }
}
