.learning-map-container {
  .pull-out-more-content {
    .content-section {
      height: 90vh;
      overflow: hidden;
      .section-title {
        height: 30px;
        background-color: $white;
        border-bottom: dashed 2px #979797;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 10px;
        margin-bottom: 20px;
      }

      .section-content {
        height: 100%;
        overflow: auto;
      }
    }
  }
}
