.app-navigation {
  .row {
    width: 700px;
  }

  .nav-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    > li > a {
      border: none;
      box-shadow: none;
      color: $dark-400;
      font-size: 15px;
      font-weight: 300;
      padding: 10px 20px;
      outline: none;
      text-transform: uppercase;

      @media screen and (max-width: 1200px) {
        padding: 10px 20px;
      }
      &:focus {
        border-width: 0;
      }

      &:hover {
        border-width: 0;
        border: none;
        color: $blue-700 !important;
        background: transparent;
      }
    }

    li.active > a {
      font-weight: bold;
      border: none;
      box-shadow: none;
      color: $blue-700 !important;
      background: transparent;
    }

    .research-menu:hover .research-container {
      display: block;
    }
    .research-container {
      position: absolute;
      left: 20px;
      display: none;
      background-color: $white;
      width: 100px;
      box-shadow: 0 0 4px $light-200;
      ul {
        display: grid;
        list-style: none;
        margin: 0;
        padding: 0;
        grid-template-columns: 1fr;
        text-transform: uppercase;
        padding: 5px 10px;
        li {
          padding: 10px;
          font-size: 13px;
          border-bottom: 1px solid $light-100;
          cursor: pointer;

          &:last-child {
            border: none;
            pointer-events: none;
            opacity: 0.4;
          }
        }
      }
    }
  }
}
