.app-panel-box {
  width: inherit;
  height: inherit;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 20px 20px 30px;

  .title {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: $dark-800;
  }
}
