.gcm-pull-out-more-content {
  .body {
    height: calc(100vh - 210px);
    overflow-y: auto;
    .section {
      .section-title {
        padding: 8px 0;
        margin: 45px 35px 15px 35px;
        font-size: 15px;
        font-weight: bold;
        color: $gray-29;
        text-transform: uppercase;
        border-bottom: dashed 2px $dark-600;
      }
      .section-content  {
        margin-top: 12px;
        .prerequisites {
          margin: 10px 0 0 0px;
        }
      }
    }
  }
}
