<div class="learning-map-container">
  <div class="browser-container">
    <div class="title">
      Category, Subject, Course, Domain
    </div>
    <div class="body">
      {{learning-map.app-domain-browser}}
    </div>
  </div>
  <div class="table-container">
  </div>
</div>
