<div class="competency-container-matrix">
  <div class="matrix-left-panel">
    {{charts.course-domain-matrix-chart userId='ae3cc77c-6b59-4606-8505-7f6d75e85721'  subjectId='K12.SC' onCompetencyPullOut='onCompetencyPullOut' showPullOut=showPullOut isSkylineEnabled=isSkylineEnabled}}
    <div class="matrix-left-panel-nav-1"></div>
    <div class="matrix-left-panel-nav-2"></div>
    <div class="matrix-left-panel-nav-3"></div>
  </div>
  <div class="matrix-right-panel">

  </div>
</div>
