<div class="competency-container-matrix">
  <div class="matrix-left-panel">
    <div class="matrix-left-panel-nav-1"></div>
    <div class="matrix-left-panel-nav-2"></div>
    <div class="matrix-left-panel-nav-3"></div>
  </div>
  <div class="matrix-right-panel">

  </div>
</div>
