<div class="card-panel-container">
  <div class="card-panel-header" style="background-image: url(https://cdn.pixabay.com/photo/2013/04/06/11/50/image-editing-101040_960_720.jpg)">
    <div class="info">
      <div class="title">consectetur adipiscing elit, sed do eiusmod tempor incididu</div>
    </div>
  </div>
  <div class="question-count-container">
    <i class="icon"></i>
    <span>25</span>
  </div>
  <div class="assessment-info-container">
    <div class="assessment-user-info">
      <span class="created-by">Created by</span>
      <div class="img-container pull-left">
        <img class="img-responsive" src="//usercdn.gooru.org/83971555-87e3-4a22-afc6-987666a0a414.jpg">
      </div>
      <span class="username">jwgooru</span>
    </div>
    <div class="assessment-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididu
    </div>

  </div>
  <div class="card-panel-footer">
    <div class="buttons-container">
      <div class="play-btn">{{app-icon name="ic_play_arrow"}}</div>
    </div>
    <div class="assessment-prefs-container">
      <span class="left-arc"></span>
      <span class="right-arc"></span>
      <div class="assessment-prefs relevance pull-left">
        <div class="count">0.8</div>
        <div class="title">Relevance</div>
      </div>
      <div class="assessment-prefs engagement pull-left">
        <div class="count">0.6</div>
        <div class="title">Engagement</div>
      </div>
      <div class="assessment-prefs efficacy pull-left">
        <div class="count">0.4</div>
        <div class="title">Efficacy</div>
      </div>
    </div>
  </div>
</div>
