<div class="card-panel-container">
  <div class="panel-header" style="background-image: url(https://cdn.pixabay.com/photo/2013/04/06/11/50/image-editing-101040_960_720.jpg)">

  </div>
  <div class="unit-count-container">
    <i class "icon"></i>
    <span>1000</span>
  </div>
  <div class="course-info-container">
    <div class="course-user-info">
      <span>Created by</span>
      <div class="img-container pull-left">
        <img class="img-responsive" src="//usercdn.gooru.org/83971555-87e3-4a22-afc6-987666a0a414.jpg">
      </div>
      <span class="username">jwgooru</span>
    </div>
    <div class="course-description">
    </div>
  </div>
  <div class="panel-footer">
    <div class="player-icon-container">
    </div>
    <div class="course-prefs-container">

    </div>
  </div>
</div>
