<div class="activity">
  <button {{action 'getResourceInfo' }} type="button" class="btn btn-info">Resource Pull Out </button>


  {{#app-pull-out showPullOut=showPullOut title=collection.title description=collection.taxonomy.id showMore=showMore isLoading=isLoading as |section|}}
    {{#if (and section.isLessContent collection.title)}}
      {{activities.pull-out-body
       collection=collection
       isLoading=isLoading
     }} {{else if section.isMoreContent}} {{activities.pull-out-more-content groupData=groupData groupHeader=groupHeader type="resource" }}
    {{/if}}
  {{/app-pull-out}}
</div>
