<div class="filters">
  <div class="title">
    {{t 'activities.filters'}}
  </div>
  {{#each filterTypes as |filterType|}}
    {{activities.activities-filter-accordion filterType=filterType selectedFilterItems=selectedFilterItems onClickCheckbox="onClickCheckbox"}}
  {{/each}}
</div>
