<div class="comparative-search-box-container">
    <div class="search-back">
        {{app-icon name="arrow_back"}}
    </div>
    <div class="search-input">
        <input type="text" name="" value="">
    </div>
    <div class="search-personalize">
      <span>Personalize</span>
      {{app-icon name='person'}}
    </div>
</div>
