.competencies-accordion-summary-items {
  background: white;
  margin: 0 auto;

  .competency-items {
    padding: 5px 12px 0;
    width: 100%;
    display: table;
    border-bottom: 1px solid $dark-50;

    .assessment {
      float: left;
      margin: 2px 2px 2px -25px;

      i {
        background: url("images/accordion-assessment-icon.svg");
        width: 20px;
        height: 15px;
        object-fit: contain;
        display: block;
      }
    }

    .collection {
      float: left;
      margin: 2px 2px 2px -25px;

      i {
        background: url("images/accordion-collection-icon.svg");
        width: 20px;
        height: 15px;
        object-fit: contain;
        display: block;
      }
    }

    .panel-title {
      display: inline-block;
      width: 70%;

      .title {
        font-weight: bold;
        width: 60%;
        // width: 90px;
        height: 20px;
        font-family: OpenSans;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        text-transform: capitalize;
        letter-spacing: normal;
        text-align: left;
        color: #4a4a4a;
        float: left;

        .caret {
          margin-left: 100px;
        }
      }

      .sub-title {
        font-size: 13px;
        color: $gray-lighter;
      }
    }

    .panel-info {
      float: right;

      .status {
        padding: 40px;
        font-size: 16px;
      }

      .time {
        padding: 40px;
        font-size: 16px;
      }
    }
  }

  .panel-body {
    padding: 3px !important;
  }

  .panel-collapse {
    .panel-body {
      padding: 3px !important;

      .panel-group {
        .assessment {
          float: left;
          margin: 13px -25px;

          i {
            background: url("images/accordion-assessment-icon.svg");
            width: 26px;
            height: 20px;
            object-fit: contain;
            display: block;
          }
        }

        .resource {
          float: left;
          margin: 13px -25px;

          i {
            background: url("images/competency-video-resource-green.svg");
            width: 21px;
            height: 20px;
            object-fit: contain;
            display: block;
          }
        }

        .question {
          float: left;
          margin: 13px -25px;

          i {
            background: url("images/competency-question-resource-green.svg");
            width: 21px;
            height: 20px;
            object-fit: contain;
            display: block;
          }
        }

        .webpage {
          float: left;
          margin: 13px -25px;

          i {
            background: url("images/competency-website-resource-green.svg");
            width: 21px;
            height: 20px;
            object-fit: contain;
            display: block;
          }
        }

        .items {
          height: 40px;
          padding: 8px;
          border-bottom: 1px solid $dark-50;

          .panel-info {
            float: right;

            .correct {
              margin-right: 60px;
              float: left;

              i {
                background: url("images/tick-green.svg");
                width: 21px;
                height: 20px;
                object-fit: contain;
                display: block;
              }
            }

            .wrong {
              margin-right: 60px;
              float: left;

              i {
                background: url("images/wrong-answer.svg");
                width: 14px;
                height: 13px;
                object-fit: contain;
                display: block;
              }
            }

            .time {
              padding: 40px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
