<div class="pull-out-body">
  <div class="header">
    <div class="id">
      GUT: <span class="data">{{pullOutInfo.id}}</span>
    </div>
    <div class="description">
      {{pullOutInfo.title}}
    </div>
  </div>
</div>
