<div class="competencies-header">
  <div class="domain-section" {{action "onChangeHeaderView" 'domain'}}>
    Domain
  </div>
  <div class="course-section" {{action "onChangeHeaderView" 'course'}}>
    Course
  </div>
</div>
