{{#app-panel-box}}
{{charts.slider-chart value="0.5" maxValue="1"}}
  <div class="user-profile-info">
    <div class="user-profile-image pull-left">
      <div class="img-container">
        <img class="img-responsive" src="//dev-user-gooru-org.s3-us-west-1.amazonaws.com/d0caf3ef-55c3-444a-83de-a8dd6498c6db.jpg">
      </div>
    </div>
    <div class="user-profile-more-info pull-left">
      <div class="username">June wang</div>
      <div class="location">
        <div class="school-state">June wang</div>
        <div class="school-country">June wang</div>
      </div>
      <div class="school-info">
        <div class="school-name">June wang</div>
        <div class="school-district">June wang</div>
      </div>
    </div>
    <div class="user-profile-reputation pull-left">
      <div class="user-profile-stats">
        <div class="user-reputation-range">
          {{charts.radial-progress-chart value="0.5" maxValue="1"}}
        </div>
        <div class="user-reputation-name">
          Reputation
        </div>
      </div>
    </div>
  </div>
  <div class="user-grade-levels">
    <div class="user-grade-level-header">
      Grade level
    </div>
    <div class="user-grade-level">
      <div class="subject">Math</div>
      <div class="grade">Science</div>
    </div>
    <div class="user-grade-level">
      <div class="subject">Math</div>
      <div class="grade">Science</div>
    </div>
  </div>
{{/app-panel-box}}
