.learner-report {
  .report-panel {
    float: left;
    margin-bottom: 23px;
    width: 500px;
    height: 482px;
  }

  .courses-independent-journey {
    margin-right: 23px;
    .courses-independent-journeys-chart {
      width: 280px;
      height: 280px;
      margin: 50px auto 0;
    }
  }

  .competencies {
    .competencies-chart {
      width: 280px;
      height: 280px;
      margin: 50px auto 0;
    }
  }

  .time-spent-activities {
    width: 500px;
    height: 482px;
    margin-right: 23px;
  }

  .courses-performance-and-time {

  }
}
