{{#if isLoading}}
  {{three-bounce-spinner}}
{{/if}}
<div class="course-domain-matrix-chart-container">
  <div class="course-domain-matrix">
    <div class="courses pull-left">
      <ul>
        {{#each taxonomyCourses as |taxonomyCourse index |}}
          <li>
            <span class="course-name">
              {{taxonomyCourse.courseName}}
            </span>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="pull-left matrix-chart-container {{if isTaxonomyCourses 'scroll-view' ''}}">
      <div id="course-domain-matrix-chart"></div>
    </div>

    {{#if (and (not isLoading) (not isTaxonomyCourses) ) }}
      <span class="no-data">No Data Found</span>
    {{/if}}
  </div>
  <div class="clear"></div>
</div>
