.competency-matrix-chart {
  margin: 0 auto;
  background-color: $white;

  .three-bounce-spinner {
    position: absolute;
    left: 33%;
  }

  .taxonomy-category {
    clear: both;
    padding-top: 10px;
  }

  .clear {
    clear: both;
  }

  .block-container {
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: default;

    .selected-competency {
      box-shadow: 0 0 6px 5px rgba(255, 255, 255, 0.5);
      position: relative;
    }
  }

  .subject-navigation-chart {
    width: 100%;

    .subject-list {
      position: relative;
      margin: 0 auto;
      overflow: hidden;
      padding: 5px;
      height: 60px;

      .nav-tabs > li.active > a,
      .nav-tabs > li.active > a:focus {
        box-shadow: inset 0 -3px 0 #2ea9e9 !important;
        color: #2ea9e9;
      }

      .nav-tabs > li > a:hover {
        border-width: 0;
        border: none;
        color: #2ea9e9 !important;
        background: transparent;
        box-shadow: inset 0 -3px 0 #2ea9e9 !important;
        opacity: 0.7;
      }

      .nav-tabs > li > a {
        padding: 15px 20px;
      }

      ul {
        position: absolute;
        left: 0;
        top: 0;
        min-width: 1050px;
        margin-left: 12px;
        margin-top: 0;
        background: $white;
        border-bottom: 1px solid #ddd;
      }

      li {
        display: table-cell;
        position: relative;
        text-align: center;
        cursor: grab;
        cursor: -webkit-grab;
        color: $dark-400;
        vertical-align: middle;
        font-size: 15px;
      }
    }

    .subject-navigation-arrow {
      text-align: center;
      cursor: pointer;
      display: none;
      padding: 11px 7px 7px;
      white-space: no-wrap;
      vertical-align: middle;
      width: 40px;
    }

    .subject-right-navigation-arrow {
      i {
        margin-left: -140px;
        font-size: 40px;
        margin-top: 2px;
      }
    }

    .subject-left-navigation-arrow {
      i {
        margin-left: -128px;
        font-size: 40px;
        margin-top: 2px;
      }
    }
  }

  .competency-chart-tab-container {
    padding-top: 20px;

    .courses {
      width: 220px;
      border-right: 1px solid #ccc;

      ul {
        padding: 0;
        list-style: none;
        font-size: 15px;
        width: 100%;
        margin: 0;
      }

      li {
        padding-left: 20px;
        width: 100%;
        padding-right: 10px;
        line-height: 18px;
        height: 30px;
        text-align: right;
        font-size: 13px;
      }

      li:last-child {
        border: none;
      }
    }

    .matrix-chart-container {
      width: 440px;
      overflow-x: auto;
    }

    .matrix-chart-container::-webkit-scrollbar {
      height: 6px;
      width: 8px;
    }

    .matrix-chart-container::-webkit-scrollbar-thumb {
      background: $gray-light;
      border: 1px solid $gray-light;
      border-radius: 5px;
    }

    #competency-matrix-chart {
      margin-left: 20px;
      margin-bottom: 20px;
      position: relative;

      .competency {
        stroke: #FBFBFB;
        stroke-width: 0.5px;
      }
    }
  }
}
