.competency-container-tree {
  .app-pull-out {
    top: 63px;
    height: calc(100vh - 63px);
  }

  .taxonomy-category {
    margin-left: 30px;
    margin-top: 10px;
  }

  .taxonomy {
    width: 100%;
    height: calc(100% - 45px);
    overflow-y: auto;
  }
}
