<div class="learner-activities">
  {{#app-panel-box localizeTitle="learner.activities.time-spent-activities" showBackButton="true" onClickBackButton="onClickBackButton"}}
    {{charts.time-spent-activities-bar-chart data=learnerActivities}}
  {{/app-panel-box}}
</div>
