<div class="competencies-report">
  <div class="panel-header">
    <div class="pull-left panel-back-arrow" data-ember-action="664">
      {{app-icon name='ic_arrow_back'}}
    </div>
    <div class="pull-left panel-title">
      <span>Competency Report</span>
    </div>
    <div class="competencies-list-view">
      <i class="icon"> </i>
    </div>
    <div class="competencies-module-view">
      <i class="icon"> </i>
    </div>
  </div>

  <div class="calander">
    <i> </i>
    <span>22 jan - 27 jan</span>
  </div>



  <div class="report-panel">
    <div class="report-panel-body">
      {{charts.competencies-chart data=competenciesData}}
    </div>

    <div class="summary-accordion">
      {{#each competenciesSummary as | item |}}
        {{learners.accordion-summary data=item}}
        {{/each}}
     </div>
  </div>

</div>
