<div class="learner-courses">
  {{#app-panel-box localizeTitle="learner.course-report" showBackButton="true"}}
    {{#each userPerformanceUnits as |unit|}}
      {{learner.course-accordion-unit unit=unit}}
    {{/each}}
  {{/app-panel-box}}
</div>
