<div class="journeys">
  {{#app-panel-box title="Courses & Independent journeys" showBackButton=true }}
    {{#each userJourneyByCourses as | course |}}
      {{learner.class-card course=course}}
    {{/each}}
  {{/app-panel-box}}
</div>
