<div class="learner-report">

  <div class="courses-independent-journey report-panel">
    {{#app-panel-box title="learner.courses-independent-journey"}}
      {{charts.courses-independent-journey data=courseAndIndependentJourneysData}}
    {{/app-panel-box}}
  </div>
  <div class="competencies report-panel">
    {{#app-panel-box title="learner.competencies"}}
      {{charts.competencies-chart data=competenciesData}}
    {{/app-panel-box}}
  </div>
  <div class="time-spent-activities report-panel">
    {{#app-panel-box title="learner.time-spent-activities"}}
      {{charts.time-spent-activities data=timeSpentActivities}}
    {{/app-panel-box}}
  </div>
  <div class="courses-performance-and-time report-panel">
    {{#app-panel-box title="learner.courses-performance-and-time"}}
      
    {{/app-panel-box}}
  </div>
</div>
