<div class="activities">
  <div class="filters pull-left">
  </div>
  <div class="activities-summary pull-left">
    <div class="content-distribution">
      {{charts.learning-activities-chart radius=200 innerRadius=180 radius1=160 innerRadius1=170 data=contentCounts}}
    </div>
  </div>
</div>
