<div class="activity">
  <div class="wrapper">
    {{activities.search-box selectedFilterItems=selectedFilterItems onChangeFilterItems="onChangeFilterItems" onSearch='onSearch' term=searchTerm}}
    <div class="filters pull-left">
      <div class="filter-list">
        {{activities.activities-filter filterTypes=filterTypes onChangeFilterItems="onChangeFilterItems"}}
      </div>
    </div>
    <div class="activity-container pull-left">
      {{activity.menu-navigation onMenuItemSelection='onMenuItemSelection'}}
      <div class="content-container">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
