<div class="activities">
  <div class="filters pull-left">
    <div class="filter-list">
      {{activities.activities-filter filterTypes=filterTypes}}
    </div>
  </div>
  <div class="activities-summary pull-left">
    <div class="content-distribution">
      {{charts.double-layer-donut-chart defaultI18nLabel='activities.learning-activities-available' radius=200 innerRadius=180 radius1=160 innerRadius1=170 data=contentCounts}}
    </div>
    <div class="content-distribution-by-subject">
      <div class="content-distribution-header">{{t 'activities.distribution-by-subject'}}</div>
      {{activities.distribution-by-subjects}}
    </div>
  </div>
</div>
