<div class="crosswalk">
  <header class="crosswalk-header">
    <div class="navigator">
      {{#link-to 'gcm'}}{{t 'crosswalk.switch_to_gcm'}}{{/link-to}}
    </div>
    <div class="title">
        {{t "crosswalk.title"}}
    </div>
  </header>
  <div class="coming-soon">
    <h3>Coming soon...</h3>
  </div>
</div>
