<div class="gcm">
  {{taxonomy-tree-view data=taxonomyTreeViewData onClickNodeMoreInfo="onClickNodeMoreInfo" onClickNode='onClickTaxonomyNode'}}
  {{#app-pull-out showPullOut=showPullOut title=nodeData.code  description=nodeData.name  showMore=false  as |section| }}
  {{#if section.isLessContent}}
    {{gcm-pull-out-body contentCountData=contentCount nodeData=nodeData breadcrumb=nodeData.parent}}
  {{else if section.isMoreContent}}

  {{/if}}
  {{/app-pull-out}}
</div>
