<div class="gcm">
  {{taxonomy-tree-view data=taxonomyTreeViewData onClickNodeMoreInfo="onClickNodeMoreInfo" onClickNode='onClickTaxonomyNode'}}
  {{#if showPullOut}}
    {{app-pull-out showPullOut=showPullOut nodeData=nodeData contentCount=contentCount}}
  {{/if}}
</div>
