<div class="suggest">
  <h3>Coming soon...</h3>

  <button {{action 'learnerCompetency' }}type="button" class="btn btn-info">Info</button>

  {{#app-pull-out showPullOut=showPullOut title=description description=title competency=competency  showMore=showMore isLoading=isLoading as |section|}}
    {{#if section.isLessContent}}
      {{learner.competencies-pull-out-body
       collection=collection
       userId=userId
       isLoading=isLoading
     }}
    {{/if}}
  {{/app-pull-out}}
</div>
