.activities-filter {
  .title {
    width: 235px;
    color: $dark-200;
    font-size: 13px;
    text-transform: uppercase;
    border-bottom: 2px dashed $dark-100;
    padding: 17px 0 8px 12px;
  }
}
