.activities-filter {
  background-color: $white;
  margin-top: 20px;
  height: auto;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  .title {
    width: 100%;
    color: $dark-200;
    font-size: 13px;
    text-transform: uppercase;
    border-bottom: 2px dashed $dark-100;
    padding: 10px;

    span {
      float: right;
      cursor: pointer;
    }
  }
  .filter-list-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .split-row {
      flex-basis: 100%;
    }
  }
}
