.comparative-search {
  .comparative-search-container {
    .comaparative-search-header {
    }
    .comparative-search-section {
      .comparative-search-engine-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        padding: 10px;
        justify-items: center;
        font-size: 15px;
        font-weight: bold;
        .engine-logo {
          width: 100px;
          height: 50px;
          background-size: 80px 30px;
          background-repeat: no-repeat;
          background-position: center;
          background-position-y: 15px;
          &.no-search-content {
            opacity: 0.4;
          }
          &.google-search-engine {
            background-image: url(images/google-logo.svg);
          }
          &.bing-search-engine {
            background-image: url(images/bing-logo.svg);
          }
          &.gooru-search-engine {
            background-image: url(gooru-logo.svg);
          }
        }
      }
      .comparative-search-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;
        justify-items: center;
        grid-column-gap: 5px;
        background-color: $light-200;

        &.no-search-content {
          grid-template-columns: 1fr;
          font-size: 16px;
        }
      }
    }
  }
}
