.comparative-search-collection-accordian {
  .comparative-search-collection-accordian-container {
    .comparative-gooru-collection-accordian {
      background-color: $white;
      display: grid;
      grid-template-columns: 50px 1fr 40px 40px;
      align-items: center;
      border-top: 1px solid $light-100;
      .search-activity-icon {
        display: grid;
        text-align: center;
        align-items: center;
        .icon {
          width: 20px;
          height: 20px;
          background-size: 20px 20px;
          margin: 0 auto;
          &.assessment {
            background-image: url(images/assessment-icon.svg);
          }
          &.collection {
            background-image: url(images/collection-icon.svg);
          }
        }
      }
      .search-activity-title {
        padding: 5px 0;
        display: grid;
        grid-template-columns: auto;
        font-size: 13px;
        line-height: 1.4;
        text-transform: capitalize;
        .search-activity-title-head {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-weight: bold;
        }
        .search-activity-title-subhead {
          display: flex;
          font-size: 12px;
          opacity: 0.7;
          span {
            display: grid;
            grid-template-columns: auto 20px;
            align-items: center;
            padding-right: 10px;
            .icon {
              width: 12px;
              height: 12px;
              background-size: 12px 12px;
              margin: 0 auto;
              &.resource {
                background-image: url(images/resource-icon.svg);
              }
              &.question {
                background-image: url(images/question-icon.svg);
              }
            }
          }
        }
      }
      .search-play-icon {
        text-align: center;
        cursor: pointer;
      }
      .search-activity-expand-icon {
        text-align: center;
        display: grid;
        align-items: center;
        cursor: pointer;
        i {
          font-size: 18px;
          &.arrow_drop_up {
            font-size: 40px;
          }
        }
      }
    }
    .comparative-gooru-collection-accordian-panel {
      background-color: $white;
      display: none;
      margin-bottom: 10px;
      .comparative-gooru-collection-img {
        img {
          width: 100%;
          max-height: 150px;
          object-fit: cover;
        }
      }
      .comparative-gooru-collection-description-head {
        font-weight: bold;
        font-size: 13px;
        padding: 0 20px;
      }
      .comparative-gooru-collection-description-content {
        padding: 0 20px;
        line-height: 1.4;
      }
      .comparative-gooru-collection-accordian-content {
        display: none;
        background-color: $white;
        margin-bottom: 20px;
        .comparative-gooru-collection-description-head {
          font-weight: bold;
          font-size: 13px;
          padding: 0 20px;
        }
        .comparative-gooru-collection-description-content {
          padding: 0 20px;
        }
        .comparative-search-taxonomy-code-container {
          margin: 10px;
        }
        .comparative-gooru-collection-footer {
          border-top: 1px solid $light-100;
          display: grid;
          grid-template-columns: auto;
          line-height: 1.4;
          font-size: 11px;
          padding: 3px 20px;

          span:first-child {
            color: $light-400;
          }
        }
      }
    }
  }
}
