.pull-out.course-pull-out-body {
  .header {
    margin-top: 23px;
    margin-bottom: 34px;
    .author-info {
      display: flex;
      .created-by, .username, .publish-date {
        font-size: 13px;
        line-height: 1.69;
        margin-right: 8px;
      }
      .created-by, .publish-date {
        color: $gray;
        font-style: italic;
      }
      .thumbnail-img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 8px;
      }
      .username {
        font-weight: 600;
        color: $blue-400;
      }
    }
  }

  .body {
    .course-info {
      margin-bottom: 50px;
      .title {
        font-size: 15px;
        color: $dark-800;
      }
      .description {
        display: flex;
        margin-top: 8px;
        .thumbnail-img {
          width: 139px;
          height: 87px;
          object-fit: contain;
          margin-right: 10px;
        }
        .content {
          width: calc(100% - 139px);
          margin-top: -10px;
          font-size: 15px;
          color: $dark-800;
        }
      }
    }

    .taxonomy-info {
      .title {
        font-size: 15px;
        font-weight: bold;
        color: $dark-400;
        text-transform: uppercase;
        padding-bottom: 10px;
        border-bottom: 2px dashed $light-300;
      }
      .items {
        margin-top: 10px;
        .item-box {
          border-radius: 4px;
          border: solid 1px $gray;
          width: auto;
          display: inline-block;
          padding: 0 10px;
          margin-right: 5px;
          font-size: 16px;
        }
        .subject, .course {
          margin: 0 10px 10px 0;
          background-color: $dark-400;
          color: $white;
        }

      }
    }
  }

}
