.activities-pull-out-more-content {
  padding-left: 20px;
  padding-right: 20px;

  .more-pull-out-header {
    height: 100px;
    background-color: $white;
    border-bottom: dashed 2px #979797;

    .header-content {
      padding-top: 30px;
      width: calc(100% - 30px);
      height: 100%;
      margin: 0 5px 0 auto;
      display: flex;

      .title {
        width: inherit;
        text-align: center;
        vertical-align: middle;
        padding: 10px;
        text-transform: uppercase;

        .oval {
          width: 16px;
          height: 16px;
          margin: 0 auto;
          border-radius: 10px;
        }

        .oval.extracted {
          background-color: #1aa9eb;
        }

        .oval.curated {
          border: 1px dashed;
        }

        .oval.tagged {
          background-color: #ed8e36;
        }

        .oval.computed {
          background-color: #37424b;
        }

        span {
          font-size: 15px;
          color: #4a4a4a;
          cursor: pointer;
        }
      }
    }
  }

  .body {
    height: calc(100vh - 210px);
    overflow-y: auto;

    .header-property {
      .headergroup {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0;

        .header-title {
          font-size: 19.5px;
          margin-bottom: 20px;
          font-weight: bold;
          color: #37424b;
          display: inherit;
          text-align: right;
          margin-left: 20px;
          width: 40%;
          text-transform: capitalize;
        }

        .header-lable {
          text-align: right;
          font-size: 15px;
          font-weight: bold;
          color: #4a4a4a;
          text-transform: capitalize;
        }

        .header-value {
          font-size: 15px;
          text-align: left;
          color: #4a4a4a;
          padding: 0;
        }

        .header-no-value {
          line-height: normal;
          padding: 0px;
        }
      }
    }

    .usage-statistics {
      display: inline-block;
      width: 100%;
      height: auto;
      padding: 10px;
    }
  }
}
